In [ ]:
# Suggested Visualizations for Tableau Dashboard

# Geographic Distribution:
# Create a choropleth map showing the distribution of billionaires across different countries. This can highlight where the wealthiest individuals are concentrated globally.

# Industry Breakdown:
# Use a bar chart or treemap to visualize which industries are the most common among billionaires. It can provide insight into which sectors have the most wealth.

# Wealth Distribution:
# A histogram or boxplot can be used to show the distribution of net worth. This helps visualize the range of wealth, from the median to outliers.

# Gender Diversity:
# A pie chart or bar chart can illustrate the gender distribution among billionaires. This could be an insightful metric regarding gender diversity in wealth.

# Source of Wealth:
# Create a stacked bar chart to compare the number of billionaires who are self-made versus those who inherited their wealth, possibly by country or industry.

# Age vs. Net Worth:
# A scatterplot can help show the relationship between age and net worth. It can also highlight the youngest billionaires and the wealthiest individuals.

# Net Worth Growth:
# If you have time-series data, a line chart can show changes in billionaires' net worth over time, revealing growth trends or declines.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile
import os

# Unzipping the file
with zipfile.ZipFile('Billionaires.zip', 'r') as zip_ref:
    zip_ref.extractall('Billionaires')

# Get list of all files in the extracted folder
file_list = os.listdir('Billionaires')

# Load the first CSV file into a DataFrame as an example
csv_file = [file for file in file_list if file.endswith('.csv')][0]
df = pd.read_csv(f'Billionaires/{csv_file}')

# Display the first few rows to inspect the data
print(df.head())

   year  month  rank net_worth     last_name            first_name  \
0  1997      7   NaN     2.0 B  Sophonpanich                Chatri
1  1997      7   NaN     1.8 B     Adulyadej         King Bhumibol
2  1998      7   NaN     3.3 B         Safra                Edmond
3  1999      7   NaN     1.0 B       Hinduja  Srichand, Gopichand,
4  1999      7   NaN     7.1 B       Schwarz                Dieter

                      full_name  birth_date   age gender  \
0  Chatri Sophonpanich & family  1934-02-28  73.0   Male
1       King Bhumibol Adulyadej  1927-12-05  69.0   Male
2                  Edmond Safra  1932-08-06  65.0   Male
3  Srichand & Gopichand Hinduja  1935-11-28   NaN    NaN
4                Dieter Schwarz  1939-09-24  59.0   Male

  country_of_citizenship country_of_residence city_of_residence  \
0               Thailand             Thailand           Bangkok
1               Thailand                  NaN               NaN
2                Lebanon              Lebanon               NaN
3                  India       United Kingdom            London
4                Germany              Germany        Neckarsulm

         business_category          business_industries organization_name  \
0  Finance and Investments  ['Finance and Investments']               NaN
1                      NaN                          NaN               NaN
2                      NaN                          NaN               NaN
3                      NaN                          NaN               NaN
4         Fashion & Retail         ['Fashion & Retail']               NaN

  position_in_organization self_made wealth_status
0                      NaN     False           NaN
1                      NaN     False           NaN
2                      NaN      True           NaN
3                      NaN     False           NaN
4                      NaN      True           NaN

C:\Users\milto\AppData\Local\Temp\ipykernel_22076\1827356906.py:17: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'Billionaires/{csv_file}')

In [11]:
# Inital Exploration and Cleaniing

# Check data types and non-null counts
print("\nData Types and Non-Null Counts:\n")
print(df.info())

# Check for missing values in each column
print("\nMissing Values:\n")
print(df.isnull().sum())

# View basic statistics of numerical columns
print("\nSummary Statistics:\n")
print(df.describe())

# Display unique values of key categorical columns (e.g., 'Country', 'Industry')
categorical_columns = df.select_dtypes(include='object').columns
for col in categorical_columns:
    print(f"\nUnique values in '{col}':")
    print(df[col].unique())

Data Types and Non-Null Counts:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34511 entries, 0 to 34510
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      34511 non-null  int64
 1   month                     34511 non-null  int64
 2   rank                      34493 non-null  float64
 3   net_worth                 34511 non-null  object
 4   last_name                 30822 non-null  object
 5   first_name                30760 non-null  object
 6   full_name                 34511 non-null  object
 7   birth_date                30044 non-null  object
 8   age                       33765 non-null  float64
 9   gender                    30682 non-null  object
 10  country_of_citizenship    34502 non-null  object
 11  country_of_residence      33792 non-null  object
 12  city_of_residence         33514 non-null  object
 13  business_category         28669 non-null  object
 14  business_industries       33521 non-null  object
 15  organization_name         4718 non-null   object
 16  position_in_organization  5044 non-null   object
 17  self_made                 30822 non-null  object
 18  wealth_status             27095 non-null  object
dtypes: float64(2), int64(2), object(15)
memory usage: 5.0+ MB
None

Missing Values:

year                            0
month                           0
rank                           18
net_worth                       0
last_name                    3689
first_name                   3751
full_name                       0
birth_date                   4467
age                           746
gender                       3829
country_of_citizenship          9
country_of_residence          719
city_of_residence             997
business_category            5842
business_industries           990
organization_name           29793
position_in_organization    29467
self_made                    3689
wealth_status                7416
dtype: int64

Summary Statistics:

               year         month          rank           age
count  34511.000000  34511.000000  34493.000000  33765.000000
mean    2016.420011      3.415346    940.663091     63.065630
std        5.858856      0.604495    669.022554     14.137851
min     1997.000000      2.000000      0.000000      0.000000
25%     2013.000000      3.000000    379.000000     54.000000
50%     2018.000000      3.000000    814.000000     63.000000
75%     2021.000000      4.000000   1415.000000     73.000000
max     2024.000000      7.000000   2692.000000    102.000000

Unique values in 'net_worth':
['2.0 B' '1.8 B' '3.3 B' '1.0 B' '7.1 B' '1.3 B' '2.9 B' '1.1 B' '2.5 B'
 '1.9 B' '4.5 B' '1.2 B' '2.1 B' '1.4 B' '58.7 B' '32.3 B' '30.4 B'
 '26.0 B' '5.6 B' '20.0 B' '18.8 B' '4.7 B' '18.6 B' '18.5 B' '17.8 B'
 '16.6 B' '3.4 B' '15.6 B' '15.3 B' '13.0 B' '12.6 B' '11.7 B' '11.5 B'
 '10.8 B' '10.7 B' '10.5 B' '10.3 B' '9.1 B' '9.0 B' '8.8 B' '7.8 B'
 '7.7 B' '6.9 B' '6.6 B' '6.5 B' '6.4 B' '6.3 B' '6.0 B' '5.9 B' '5.8 B'
 '5.7 B' '5.5 B' '5.4 B' '5.3 B' '5.0 B' '4.9 B' '4.8 B' '4.6 B' '4.4 B'
 '4.3 B' '4.1 B' '4.0 B' '3.8 B' '3.7 B' '3.5 B' '3.2 B' '3.1 B' '3.0 B'
 '2.8 B' '2.7 B' '2.6 B' '2.4 B' '2.3 B' '2.2 B' '1.7 B' '1.6 B' '1.5 B'
 '52.8 B' '35.0 B' '25.2 B' '23.5 B' '20.8 B' '20.5 B' '18.4 B' '14.9 B'
 '14.8 B' '13.4 B' '11.1 B' '10.1 B' '10.0 B' '9.2 B' '8.6 B' '8.4 B'
 '8.1 B' '7.2 B' '7.0 B' '6.7 B' '6.2 B' '6.1 B' '5.2 B' '5.1 B' '4.2 B'
 '3.9 B' '3.6 B' '40.7 B' '30.5 B' '20.1 B' '17.7 B' '16.5 B' '14.5 B'
 '12.9 B' '9.8 B' '8.2 B' '8.0 B' '7.6 B' '7.5 B' '7.4 B' '46.6 B'
 '42.9 B' '23.0 B' '21.5 B' '21.0 B' '18.7 B' '13.9 B' '12.4 B' '12.2 B'
 '11.4 B' '11.2 B' '10.6 B' '10.4 B' '9.3 B' '8.9 B' '8.7 B' '8.5 B'
 '6.8 B' '46.5 B' '44.0 B' '25.0 B' '23.8 B' '23.7 B' '18.3 B' '18.2 B'
 '18.0 B' '17.2 B' '17.0 B' '16.0 B' '13.3 B' '12.1 B' '12.0 B' '10.9 B'
 '9.9 B' '8.3 B' '50.0 B' '42.0 B' '30.0 B' '28.0 B' '22.0 B' '17.1 B'
 '16.1 B' '15.9 B' '15.8 B' '15.7 B' '13.6 B' '12.8 B' '12.5 B' '12.3 B'
 '11.6 B' '11.0 B' '9.7 B' '7.3 B' '56.0 B' '52.0 B' '49.0 B' '33.0 B'
 '32.0 B' '26.5 B' '24.0 B' '20.7 B' '20.3 B' '16.8 B' '16.7 B' '15.0 B'
 '14.4 B' '14.3 B' '13.5 B' '11.8 B' '9.6 B' '9.5 B' '7.9 B' '62.0 B'
 '60.0 B' '58.0 B' '45.0 B' '43.0 B' '31.0 B' '27.0 B' '25.5 B' '22.9 B'
 '21.2 B' '20.2 B' '19.9 B' '19.5 B' '19.3 B' '19.2 B' '19.0 B' '18.9 B'
 '17.5 B' '16.9 B' '16.4 B' '14.0 B' '13.2 B' '12.7 B' '11.9 B' '10.2 B'
 '9.4 B' '40.0 B' '37.0 B' '22.5 B' '17.6 B' '16.2 B' '53.5 B' '53.0 B'
 '47.0 B' '29.0 B' '28.7 B' '27.5 B' '22.4 B' '20.6 B' '19.8 B' '19.4 B'
 '13.7 B' '74.0 B' '41.0 B' '39.5 B' '31.1 B' '23.3 B' '24.5 B' '21.3 B'
 '18.1 B' '19.6 B' '14.6 B' '15.1 B' '13.8 B' '11.3 B' '69.0 B' '61.0 B'
 '37.5 B' '36.0 B' '25.4 B' '25.3 B' '24.9 B' '23.1 B' '22.3 B' '17.4 B'
 '14.2 B' '1.25 B' '1.05 B' '73.0 B' '67.0 B' '57.0 B' '34.0 B' '28.2 B'
 '26.7 B' '26.3 B' '26.1 B' '22.8 B' '20.4 B' '15.4 B' '15.2 B' '14.1 B'
 '3.95 B' '3.25 B' '2.85 B' '2.75 B' '2.55 B' '2.45 B' '1.95 B' '1.85 B'
 '1.75 B' '1.65 B' '1.55 B' '1.45 B' '1.36 B' '1.35 B' '1.15 B' '76.0 B'
 '72.0 B' '64.0 B' '58.2 B' '48.0 B' '38.0 B' '36.7 B' '34.7 B' '34.5 B'
 '34.4 B' '34.3 B' '34.2 B' '33.5 B' '31.8 B' '28.5 B' '22.6 B' '21.1 B'
 '19.7 B' '17.9 B' '17.3 B' '15.5 B' '14.7 B' '3.65 B' '2.35 B' '2.15 B'
 '2.05 B' '1.29 B' '79.2 B' '77.1 B' '72.7 B' '64.5 B' '54.3 B' '41.7 B'
 '40.6 B' '40.1 B' '39.4 B' '39.1 B' '37.2 B' '35.5 B' '34.8 B' '33.4 B'
 '33.3 B' '31.4 B' '29.7 B' '29.2 B' '26.9 B' '26.6 B' '24.8 B' '24.2 B'
 '23.4 B' '22.7 B' '19.1 B' '16.3 B' '3.35 B' '1.08 B' '75.0 B' '60.8 B'
 '45.2 B' '44.6 B' '43.6 B' '39.6 B' '36.1 B' '35.2 B' '33.6 B' '31.9 B'
 '27.8 B' '27.1 B' '25.9 B' '24.4 B' '22.1 B' '13.1 B' '86.0 B' '75.6 B'
 '72.8 B' '71.3 B' '54.5 B' '52.2 B' '48.3 B' '47.5 B' '41.5 B' '39.8 B'
 '34.1 B' '33.8 B' '31.3 B' '31.2 B' '28.3 B' '27.2 B' '26.2 B' '23.2 B'
 '0.6 B' '112.0 B' '90.0 B' '84.0 B' '71.0 B' '70.0 B' '67.1 B' '58.5 B'
 '48.8 B' '46.4 B' '46.2 B' '46.0 B' '45.3 B' '42.2 B' '39.0 B' '38.5 B'
 '38.4 B' '34.9 B' '30.3 B' '29.8 B' '29.6 B' '27.4 B' '23.6 B' '21.9 B'
 '21.7 B' '20.9 B' '131.0 B' '96.5 B' '82.5 B' '62.7 B' '62.5 B' '62.3 B'
 '55.5 B' '50.8 B' '50.5 B' '49.8 B' '49.3 B' '44.4 B' '44.3 B' '41.2 B'
 '38.8 B' '37.3 B' '36.2 B' '35.1 B' '32.5 B' '31.7 B' '30.1 B' '23.9 B'
 '22.2 B' '21.6 B' '113.0 B' '98.0 B' '67.5 B' '59.0 B' '55.1 B' '54.7 B'
 '54.6 B' '54.4 B' '54.1 B' '52.7 B' '52.1 B' '50.9 B' '49.1 B' '48.9 B'
 '38.2 B' '38.1 B' '36.8 B' '31.6 B' '29.5 B' '28.1 B' '26.8 B' '24.7 B'
 '24.6 B' '21.8 B' '177.0 B' '151.0 B' '150.0 B' '124.0 B' '97.0 B'
 '96.0 B' '93.0 B' '91.5 B' '89.0 B' '84.5 B' '77.0 B' '73.6 B' '68.9 B'
 '68.7 B' '65.8 B' '62.8 B' '61.8 B' '60.2 B' '59.5 B' '55.3 B' '51.9 B'
 '49.9 B' '48.4 B' '45.4 B' '45.1 B' '44.1 B' '42.3 B' '41.8 B' '39.2 B'
 '37.7 B' '36.9 B' '35.6 B' '33.7 B' '29.1 B' '28.4 B' '27.7 B' '26.4 B'
 '25.8 B' '21.4 B' '219.0 B' '171.0 B' '158.0 B' '129.0 B' '118.0 B'
 '111.0 B' '107.0 B' '106.0 B' '91.4 B' '90.7 B' '82.0 B' '81.2 B'
 '74.8 B' '67.3 B' '66.2 B' '65.7 B' '65.3 B' '65.0 B' '59.6 B' '49.2 B'
 '47.3 B' '47.1 B' '44.8 B' '41.4 B' '40.4 B' '32.6 B' '30.8 B' '30.2 B'
 '28.6 B' '27.3 B' '24.3 B' '24.1 B' '13.65 B' '211.0 B' '180.0 B'
 '114.0 B' '104.0 B' '94.5 B' '83.4 B' '80.7 B' '80.5 B' '77.3 B' '68.0 B'
 '64.4 B' '58.8 B' '57.6 B' '56.7 B' '50.1 B' '47.2 B' '38.9 B' '38.3 B'
 '35.3 B' '32.1 B' '25.6 B' '233.0 B' '195.0 B' '194.0 B' '141.0 B'
 '133.0 B' '128.0 B' '121.0 B' '116.0 B' '110.0 B' '103.0 B' '102.0 B'
 '99.5 B' '91.0 B' '78.4 B' '77.4 B' '72.3 B' '67.8 B' '64.3 B' '43.8 B'
 '43.4 B' '42.8 B' '40.9 B' '36.4 B' '33.1 B' '32.7 B' '27.9 B' '27.6 B'
 '25.7 B' '25.1 B']

Unique values in 'last_name':
['Sophonpanich' 'Adulyadej' 'Safra' ... 'Silverstein' 'Taparia' 'Vagelos']

Unique values in 'first_name':
['Chatri' 'King Bhumibol' 'Edmond' ... 'Yingjie' 'Mahaveer Prasad'
 'Junjie']

Unique values in 'full_name':
['Chatri Sophonpanich & family' 'King Bhumibol Adulyadej' 'Edmond Safra'
 ... 'Shivratan Taparia' 'Roy Vagelos' 'Zhou Junjie']

Unique values in 'birth_date':
['1934-02-28' '1927-12-05' '1932-08-06' ... '1945-08-07' '1929-10-08'
 '1968-07-20']

Unique values in 'gender':
['Male' nan 'Female']

Unique values in 'country_of_citizenship':
['Thailand' 'Lebanon' 'India' 'Germany' 'Colombia' 'Switzerland' 'Brazil'
 'Hong Kong' 'France' 'Norway' 'Japan' 'United States' 'Saudi Arabia'
 'United Kingdom' 'Sweden' 'Mexico' 'Italy' 'Spain' 'Kuwait' 'Venezuela'
 'Greece' 'South Africa' 'Canada' 'Israel' 'Turkey' 'Malaysia' 'Taiwan'
 'Australia' 'Ireland' 'United Arab Emirates' 'Denmark' 'Russia'
 'Argentina' 'South Korea' 'Chile' 'Philippines' 'Portugal' 'Belgium'
 'Egypt' 'Singapore' 'Netherlands' 'China' 'Austria' nan 'Ukraine'
 'Indonesia' 'Kazakhstan' 'Poland' 'Monaco' 'Czech Republic' 'New Zealand'
 'Cyprus' 'Iceland' 'Oman' 'Romania' 'Nigeria' 'Belize' 'Finland'
 'Pakistan' 'Georgia' 'Morocco' 'Peru' 'St. Kitts and Nevis' 'Swaziland'
 'Angola' 'Guernsey' 'Vietnam' 'Nepal' 'Algeria' 'Macau' 'Uganda'
 'Tanzania' 'Lithuania' 'Liechtenstein' 'Guatemala' 'Qatar' 'Slovakia'
 'Zimbabwe' 'Hungary' 'Czechia' 'Eswatini (Swaziland)' 'Macao' 'Armenia'
 'Bulgaria' 'Barbados' 'Uruguay' 'Estonia' 'Croatia' 'Bangladesh' 'Panama'
 'Luxembourg']

Unique values in 'country_of_residence':
['Thailand' nan 'Lebanon' 'United Kingdom' 'Germany' 'Colombia'
 'Switzerland' 'Brazil' 'Hong Kong' 'Monaco' 'Japan' 'United States'
 'Saudi Arabia' 'China' 'France' 'Sweden' 'Mexico' 'Italy' 'India' 'Spain'
 'Bermuda' 'Venezuela' 'Greece' 'South Africa' 'Canada' 'Israel' 'Turkey'
 'Malaysia' 'Taiwan' 'Australia' 'Ireland' 'United Arab Emirates'
 'Denmark' 'Russia' 'Argentina' 'South Korea' 'Norway' 'Chile'
 'Philippines' 'Portugal' 'Belgium' 'Egypt' 'Singapore' 'Bahamas'
 'Netherlands' 'Austria' 'Scotland' 'Ukraine' 'Cayman Islands' 'Indonesia'
 'Kazakhstan' 'Poland' 'Czech Republic' 'New Zealand' 'Kuwait' 'Georgia'
 'Romania' 'Cyprus' 'Nigeria' 'Hungary' 'Hong Kong SAR' 'Finland'
 'Pakistan' 'British Virgin Islands' 'Dominican Republic' 'Morocco' 'Peru'
 'Angola' 'Guernsey' 'Vietnam' 'Nepal' 'Algeria' 'U.S. Virgin Islands'
 'Macau' 'Oman' 'Uganda' 'Tanzania' 'Lithuania' 'Liechtenstein' 'Bahrain'
 'Guatemala' 'Qatar' 'Turks and Caicos Islands' 'Slovakia' 'Cambodia'
 'Seychelles' 'Swaziland' 'Uruguay' 'Czechia' 'Eswatini (Swaziland)'
 'Armenia' 'Andorra' 'Uzbekistan' 'Latvia' 'Luxembourg']

Unique values in 'city_of_residence':
['Bangkok' nan 'London' ... 'Lowell' 'Heshan' 'Gladstone']

Unique values in 'business_category':
['Finance and Investments' nan 'Fashion & Retail' 'Food and Beverage'
 'Technology' 'Telecom' 'Business' 'Real Estate' 'Service'
 'Construction & Engineering' 'Manufacturing' 'Billionaire'
 'Fashion and Retail' 'Automotive' 'Retail' 'Sports' 'Investments'
 'Finance' 'Energy' 'Diversified' 'Logistics' 'Health care' 'Media'
 'Media & Entertainment' 'Celebrity' 'Gaming' 'Oil' 'Metals & Mining'
 'Healthcare' 'Politics' 'Finance & Investments' 'Service & Retail'
 'Gambling & Casinos' 'Medicine' 'Food & Manufacturing'
 'Technology & Medicine' 'Food & Beverage' 'All Star Alumni' 'Games'
 'Social Entrepreneurs' 'Technology / Business' 'Retail & Ecommerce']

Unique values in 'business_industries':
["['Finance and Investments']" nan "['Fashion & Retail']"
 "['Food and Beverage']" "['Technology']" "['Finance']" "['Software']"
 "['Investments']" "['Retail']" "['Pharmaceuticals']" "['Media']"
 "['Real Estate']" "['Food']" "['Manufacturing']" "['Apparel']"
 "['Diversified']" "['Insurance']" "['Beverages']" "['Oil']"
 "['Fashion and Retail']" "['Service']"
 "['Construction &#38; Engineering']" "['Energy']" "['Logistics']"
 "['Sports']" "['Telecom']" "['Health care']" "['Business']"
 "['Shipping']" "['Health Care']" "['Agriculture']"
 "['Construction & Engineering']" "['Metals & Mining']" "['Billionaire']"
 "['Technology                    ']" "['Automotive']"
 "['Fashion and Retail            ']" "['Chemicals']"
 "['Sports                        ']" "['Investments                   ']"
 "['Media                         ']" "['Media & Entertainment']"
 "['Celebrity']" "['Gaming']" "['Real Estate                   ']"
 "['Energy                        ']" "['Coal']" "['Internet']"
 "['Healthcare']" "['Telecommunications']" "['Steel']" "['Luxury Goods']"
 "['Politics']" "['Consumer Products']" "['Biotechnology']"
 "['Metals &#38; Mining']" "['Hotels &#38; Resorts']"
 "['Casinos &#38; Gaming']" "['Leisure']" "['Banks']" "['Electronics']"
 "['Consumer Services']" "['Information Technology']" "['Transportation']"
 "['Gambling & Casinos']" "['Medicine']" "['Food & Beverage']"
 "['Finance & Investments']"]

Unique values in 'organization_name':
[nan 'Prada' 'Gap' 'Urban Outfitters Inc.' 'Saul Centers Inc.'
 'Garmin Corporation' 'Workday' 'Starbucks' 'Marvell Technology Group'
 'Hancock Prospecting' 'Las Vegas Sands' 'Oracle'
 "Children's Scholarship Fund" 'Arvest Bank Group, Inc.' 'Wal-Mart Stores'
 'Dell' 'Microsoft' 'Icahn Enterprises L.P.' 'Enterprise Rent-A-Car'
 'Irvine Company' 'BOK Financial' 'NIKE' 'DISH Network' 'SAS Institute'
 'Ebay' 'Menard, Inc.' 'Valhi Inc.' 'SAC Capital Advisors' 'Viacom'
 'Google' 'Blackstone Group' 'Cox Enterprises' 'Charles Schwab'
 'KKR and Co' 'Renaissance Technologies Corp.' 'Carnival'
 'International Data Group' 'Franklin Resources' 'Continental Resources'
 'Ralph Lauren' 'Hartz Mountain Industries, Inc.' 'Bridgewater Associates'
 'Kohler Co.' 'Wynn Resorts' 'Intel' 'SkyWest Airlines, Inc.'
 'Och-Ziff Capital Management Group' 'Best Buy' 'Sobrato Development Cos.'
 'Bechtel Corp.' 'The Yucaipa Companies, LLC' 'Dolby Laboratories'
 'Caxton Associates LP' 'Tudor Investment Corporation'
 'Est&#233;e Lauder Cos' 'Chartwell Leisure' 'Citadel LLC' 'ABC Supply'
 'Soho China Ltd.' 'Kinder Morgan' 'First Manhattan Co.' 'Hyatt Hotels'
 'Dallas Mavericks' 'Pilot House Associates' 'Danaher' 'Limited Brands'
 'Carlyle Group' 'New Balance' 'Cablevision Systems Corp.' 'Yahoo'
 'D. E. Shaw & Co.' 'Kingston Technology Corporation'
 'Ann & Gordon Getty Foundation' 'Tawani Enterprises'
 'Ingram Industries, Inc.' 'Majestic Realty, Co.' 'Boston Properties'
 'Carlson Companies Inc.' 'S. Daniel Abraham Center for Middle East Peace'
 'Leprino Foods' 'J.C. Flowers &#38; Co. LLC' 'FedEx'
 'Appaloosa Management' 'Wrigley Management, Inc.' 'Morningstar'
 'Broadcom' 'Hobby Lobby' 'Sherpalo Ventures' 'Sunbeam Television, Corp.'
 'Arnel & Affiliates' 'Kleiner Perkins Caufield & Byers'
 'MFP Investors Inc.' "Doctor's Associates (Subway)" 'Pisces, Inc.'
 'Hubbard Broadcasting, Inc.' 'Qualcomm' 'Home Depot'
 'Level 3 Communications' 'Centaurus Advisors' 'Syntel'
 'Millennium Management, L.L.C.' 'Silver Ventures' 'Khosla Ventures'
 'Avenue Capital Group' 'York Capital Management' 'Ivanhoe Energy Inc.'
 'Dallas Cowboys' 'Oaktree Capital Group LLC' 'The Kraft Group'
 'Ryan Specialty Group' 'Baltimore Ravens' 'Atlanta Falcons'
 'Highbridge Capital Management' 'Sequoia Capital' 'Trian Fund Management'
 'Simon Property Group' 'Talpion Fund Management' 'Campbell Soup'
 'Salesforce.com' 'Chilton Investment Company, LLC' 'Omega Advisors, Inc.'
 "Kohl's" 'Farallon Capital Management' 'Founders Fund'
 'Cerberus Capital Management' 'Western Refining' 'Lone Pine Capital'
 'Bill & Melinda Gates Foundation' 'Berkshire Hathaway'
 'Crystal Bridges Museum of American Art' 'Amazon.com' 'News Corp'
 'Pacific Investment Management Company LLC' 'Ford Financial Fund'
 'Indianapolis Colts' 'Hewlett-Packard' 'Hutchison Whampoa'
 'Fidelity Investments' 'Softbank' 'Facebook' 'Discount Tire Co.'
 'Casden Properties LLC' 'Marvel Entertainment' 'Reyes Holdings, LLC'
 'Providence Equity Partners' 'Symphony Technology Group' 'Ivanhoe Mines'
 'Enterprise GP Holdings' 'Buffalo Sabres' 'Asana'
 'Paramount Resources Ltd.' 'Morningstar Inc.' 'TOMS Capital'
 'Wynn Las Vegas, LLC' 'Admiral Group plc' 'Sinaloa Cartel'
 'LG Electronics' 'Digital Sky Technologies' 'Zynga' 'H&#38;M'
 'Koch Industries, Inc.' 'United States' 'Thomson Reuters' 'Brooklyn Nets'
 'Emerson Collective' 'Selfridges Group' 'Jim Pattison Group' 'Saputo'
 'Apotex' 'Cook Group Inc.' 'Lululemon Athletica' 'Cirque du Soleil'
 'Hyundai Heavy Industries' 'Hochschild Mining PLC' 'Orlando Corporation'
 'Brevan Howard Asset Management' 'Rexall Health' 'SpaceX' 'LinkedIn Corp'
 'Jean Coutu Group (PJC) Inc. (Cl A)' 'Jarislowsky &#38; Fraser'
 "Landry's Inc" 'SmartCentres' 'Ubiquiti Networks Inc'
 'NCSOFT Corporation' 'Hunter Douglas N.V.'
 'Brandes Investment Partners, L.P.' 'Third Point' 'Magna International'
 'Accel Partners' 'Tiger Global Management' 'Greenlight Capital'
 'Mo Ibrahim Foundation' 'Heesung Electronics'
 'Sawdust Investment Management Corp.' 'Under Armour, Inc.'
 'Sandell Asset Management' 'Rhone Group' 'Shinsegae' 'Elliott Management'
 'San Francisco 49ers' 'Am&#233;rica M&#243;vil' 'Koch Industries'
 'LVMH Moet Hennessy Louis Vuitton' 'Reliance Industries'
 'Icahn Capital Management' 'Soros Fund Management LLC' 'Metalloinvest'
 'ArcelorMittal' 'Dangote Group' 'Samsung Group' 'Hangzhou Wahaha Group'
 'Paulson &#38; Co. Inc.' 'Wipro' 'Baidu' 'Hyundai Motor'
 'East Hope Group' 'Louis Dreyfus SAS' 'Evergrande Real Estate'
 'Country Garden Holdings' 'Hon Hai Precision' 'Abril Group' 'KKR and Co '
 'Longfor Properties' 'Soho China'
 "Love's Travel Stops and Country Stores" 'Azrieli Group'
 'Midea Group Co. Ltd.' 'Greylock Partners' 'Arista Networks'
 'Space Exploration Technologies Corp.' 'Chile'
 'Dolby Laboratories Inc.  (Cl A)' 'Future Electronics' 'Amorepacific'
 'SK C&#38;C' 'Artemis Real Estate Partners' 'Kyobo Life Insurance'
 'Lotte Shopping' 'Mattamy Group Corp.' 'Pilot Flying J'
 'Stanford University' 'Kynetic' 'CQS LLP' 'LG Corp' 'CJ Corp'
 'Moore Capital Management, LP' 'Viking Global Investors'
 'Winton Capital Management' 'Pershing Square Capital Management, L.P.'
 'Harbinger Capital Partners' 'Celltrion' 'Slaight Communications'
 'SF Express' 'Alimentation Couche Tard Inc. Cl A'
 'Iberville Development Limited' 'Square, Inc.' 'Dongbu Insurance'
 'Groupon' "Dick's Sporting Goods" 'Baupost Group' 'Publix  Super Markets'
 'Heesung' 'Booyoung Group' 'Samsung C&#38;T Corp.' 'Cisco Systems'
 'Mirae Asset' 'San Diego Chargers' 'CK Hutchison Holdings'
 'ArcelorMittal (ADR)' 'Wipro Limited (ADR)' 'Dalian Wanda Group'
 'Samsung Electronics' 'Menard' 'DreamWorks Animation SKG Inc. (Cl A)'
 'L Brands' 'Tencent Holdings' 'Netease'
 'Amer International Group Company Limited' 'Xiaomi' 'Bechtel'
 'Ingram Industries' 'LinkedIn' 'BlueCrest Capital Management'
 'Reyes Holdings' 'Air Lease Corp.' 'Twitter' 'ESL Investments Inc.'
 'JD.com' 'Gulf States Toyota' "Landry's" 'Feld Entertainment' 'Cerner'
 'Bet365' 'Hankey Group' 'Urban Outfitters'
 'Netscape Communications Corporation' 'Glenview Capital Management'
 'Orion' 'Dimensional Fund Advisors' 'GoPro' 'Nexon' 'Hankook Tire'
 'Dropbox' 'Naver' 'Discovery Capital Management' 'Save Mart Supermarkets'
 "The Children's Investment Fund Management" 'Morguard Corporation'
 'Spanx' 'Tory Burch' 'Newegg.com' 'Kyowon Group'
 'King Street Capital Management' 'Regeneron Pharmaceuticals' 'Bloomberg'
 'Alibaba Group' 'Point72 Asset Management' 'Est&#233;e Lauder' 'eBay'
 'Uber Technologies Inc.' 'KKR &#38; Co.' 'Cablevision Systems'
 'Under Armour' 'Kakao' 'Epic Systems' 'Fertitta Entertainment'
 'Breyer Capital' 'Smilegate Holdings' 'Airbnb, Inc.'
 'Guggenheim Partners LLC' 'Rocket Internet' 'CGI Group'
 'Palantir Technologies' 'WR Berkley' 'DoubleLine Capital'
 'Taekwang Industrial' 'Biocon Ltd.' 'Sequoia Capital China' 'Nike'
 'Menards' 'WhatsApp Inc.' 'Dali Foods Group Co.' 'Lens Technology'
 'Transfar Group' 'Duquesne Family Office' 'Theranos' 'DJI Technology Co.'
 'Two Sigma Investments' 'Syntel Inc.' 'Hanmi Holdings' 'Baoneng Group'
 'Paris-Croissant Food' 'Hanssem' 'BGF Retail' 'Meritz Financial Group'

In [ ]:
# Interpretation

1. Handle Missing Values

    Highly Sparse Columns: Columns like organization_name and position_in_organization have many missing values (only ~4,718 and ~5,044 non-null values, respectively, out of 34,511). You could consider dropping these columns if they do not provide significant value for your analysis.
    Other Columns:
        Fill Missing Values:
            For rank and age, you can fill the missing values with the mean or median.
            For birth_date, first_name, last_name, etc., you can decide whether to fill with placeholders like "Unknown" or drop rows depending on their importance.
        Drop Rows: For critical columns like country_of_citizenship or business_category, if only a small number of rows are missing, you can drop those rows.

2. Convert Data Types

    The net_worth column is currently of type object, and it also contains a suffix (B for billions). You should clean this column to remove the suffix and convert it to a numeric type for further analysis.

3. Remove Duplicates

    Check and remove any duplicate rows.

4. Feature Engineering

    Consider creating a new feature for easier analysis. For example, you could create an age group feature to categorize billionaires into different age brackets.

In [13]:
# Handle Missing Values

# Drop columns with too many missing values
df.drop(columns=['organization_name', 'position_in_organization'], inplace=True)

# Fill missing values in rank and age with median values
df['rank'].fillna(df['rank'].median(), inplace=True)
df['age'].fillna(df['age'].median(), inplace=True)

# Fill categorical columns with 'Unknown'
categorical_columns = ['first_name', 'last_name', 'birth_date', 'gender', 'country_of_residence', 'business_category']
for col in categorical_columns:
    df[col].fillna('Unknown', inplace=True)

In [15]:
# Convert 'net_worth' to a numeric column by removing 'B' and converting to float
df['net_worth'] = df['net_worth'].str.replace(' B', '').astype(float)

In [17]:
# Check for duplicates
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Drop duplicate rows
df.drop_duplicates(inplace=True)

Number of duplicate rows: 1

In [19]:
# Create age group categories
bins = [0, 30, 50, 70, 100, df['age'].max()]
labels = ['<30', '30-50', '50-70', '70-100', '>100']
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels)

# Check distribution of age groups
print(df['age_group'].value_counts())

age_group
50-70     18238
70-100    10340
30-50      5551
<30         168
>100          5
Name: count, dtype: int64

In [ ]:
# Suggested Visualizations for Tableau Dashboard

In [21]:
# Gender Distribution
# Visualization Type: Pie Chart or Bar Chart
# Details: Create a pie chart showing the proportion of male vs. female billionaires.

gender_distribution = df['gender'].value_counts()
print(gender_distribution)

gender
Male       27279
Unknown     3829
Female      3402
Name: count, dtype: int64

In [23]:
# Net Worth by Country
# Visualization Type: Bar Chart or Choropleth Map
# Details: Show the total or average net worth of billionaires per country.

net_worth_by_country = df.groupby('country_of_citizenship')['net_worth'].sum().reset_index()
net_worth_by_country.columns = ['Country', 'Total_Net_Worth']
print(net_worth_by_country)

          Country  Total_Net_Worth
0         Algeria            41.40
1          Angola            21.40
2       Argentina           185.05
3         Armenia             3.30
4       Australia          1733.80
..            ...              ...
85  United States         52909.90
86        Uruguay             5.20
87      Venezuela           175.40
88        Vietnam           108.90
89       Zimbabwe            13.20

[90 rows x 2 columns]

In [27]:
# Industry Representation
# Visualization Type: Bar Chart or Treemap
# Details: Visualize which industries have the most billionaires, using the business_category column.

industry_representation = df['business_category'].value_counts().reset_index()
industry_representation.columns = ['Industry', 'Number_of_Billionaires']
print(industry_representation)

                      Industry  Number_of_Billionaires
0                      Unknown                    5842
1                   Technology                    2949
2             Fashion & Retail                    2730
3                Manufacturing                    2715
4                  Real Estate                    2398
5                  Diversified                    2151
6        Finance & Investments                    1900
7      Finance and Investments                    1755
8                   Healthcare                    1726
9                       Energy                    1281
10           Food and Beverage                    1147
11             Food & Beverage                    1016
12       Media & Entertainment                     887
13                     Service                     884
14             Metals & Mining                     814
15                  Automotive                     670
16                 Investments                     663
17  Construction & Engineering                     593
18                   Logistics                     456
19                     Telecom                     372
20                      Sports                     370
21                       Media                     274
22          Gambling & Casinos                     258
23          Fashion and Retail                     245
24                 Health care                     104
25                     Finance                      93
26                      Retail                      38
27                      Gaming                      35
28            Service & Retail                      30
29                    Business                      22
30                 Billionaire                      22
31        Food & Manufacturing                      16
32       Technology & Medicine                      13
33                         Oil                      11
34             All Star Alumni                       8
35                    Medicine                       7
36                   Celebrity                       6
37                    Politics                       5
38                       Games                       1
39        Social Entrepreneurs                       1
40       Technology / Business                       1
41          Retail & Ecommerce                       1

In [25]:
# Net Worth Distribution by Age Group
# Visualization Type: Boxplot or Bar Chart
# Details: Show how net worth is distributed across different age groups. A boxplot could illustrate the median, quartiles, and outliers for each age group.

net_worth_by_age_group = df.groupby('age_group')['net_worth'].describe()
print(net_worth_by_age_group)

             count      mean       std  min     25%  50%    75%    max
age_group
<30          168.0  3.302083  4.903507  1.0  1.3875  1.9  3.125   34.7
30-50       5551.0  3.737354  7.637375  1.0  1.3000  1.9  3.300  219.0
50-70      18238.0  3.795427  6.935048  1.0  1.4000  2.1  3.700  195.0
70-100     10340.0  4.884732  8.819453  0.6  1.6000  2.6  4.700  233.0
>100           5.0  2.340000  1.395708  1.1  1.3000  1.7  3.300    4.3

C:\Users\milto\AppData\Local\Temp\ipykernel_22076\1468711751.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  net_worth_by_age_group = df.groupby('age_group')['net_worth'].describe()

In [29]:
# Net Worth vs. Age (Scatterplot)
# Visualization Type: Scatterplot
# Details: Plot net worth against age to understand any potential trends between age and wealth.

scatter_data = df[['age', 'net_worth']]
print(scatter_data)

        age  net_worth
0      73.0        2.0
1      69.0        1.8
2      65.0        3.3
3      63.0        1.0
4      59.0        7.1
...     ...        ...
34506  63.0        1.0
34507  60.0        1.0
34508  66.0        1.0
34509  55.0        1.0
34510  60.0        1.0

[34510 rows x 2 columns]

In [31]:
# Self-Made vs. Inherited Wealth
# Visualization Type: Pie Chart or Bar Chart
# Details: Visualize the number of billionaires who are self-made versus those who inherited their wealth.

self_made_distribution = df['self_made'].value_counts()
print(self_made_distribution)

self_made
True     19468
False    11353
Name: count, dtype: int64

In [33]:
# Age Group Distribution
# Visualization Type: Bar Chart
# Details: Display the count of billionaires in each age group.

print(df['age_group'].value_counts())

age_group
50-70     18238
70-100    10340
30-50      5551
<30         168
>100          5
Name: count, dtype: int64